[submodule "catkin_ws/src/realsense"]
	path = catkin_ws/src/realsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "catkin_ws/src/hrl-kdl"]
	path = catkin_ws/src/hrl-kdl
	url = https://github.com/gt-ros-pkg/hrl-kdl.git
