# original .gitignore
# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Clion Files
catkin_ws/src/cmake-build-debug/
catkin_ws/src/.idea/
data/rosbag_data/*
catkin_ws/install
catkin_ws/build
catkin_ws/devel
catkin_ws/matlab_gen
catkin_ws/.catkin_workspace
catkin_ws/.catkin_tools
catkin_ws/logs
catkin_ws/src/CMakeLists.txt
data/*
*~
*.gz
.viewer-prefs
core
.~lock*
*.png
*.idea
*.avi
*.JPG

# Workspace files
.cache
.cmake
.config
.ros
.rviz
venv
.bash_history
.viminfo
.wget-hsts
.pycharm_helpers
.vscode


# added below from AIRobot
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
examples/**/*.png
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.idea/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# primitive affordance data
catkin_ws/src/primitives/data
catkin_ws/src/primitives/nb
catkin_ws/src/primitives/objects
catkin_ws/src/config/descriptions/meshes/ycb_objects
catkin_ws/src/config/descriptions/bandu

# notebooks
nb/

# training stuff
training/runs
training/saved_models
training/gat/yilun_models/
training/gat/vae_cachedir/
training/gat_vq/vae_cachedir/
training/checkpoints/
training/dgcnn/
training/pointnet/
training/gat/output_vae/
training/skeleton/dreamerv2/cachedir
training/skeleton/old
training/skeleton/dreamerv2/runs
training/skeleton/vae_cachedir
training/skeleton/*cachedir
training/skeleton/*runs
training/skeleton/data/*
# visualizations that get saved 
catkin_ws/src/primitives/iframe_figures

# directories used for filesystem "pub sub"
catkin_ws/src/primitives/predictions*
catkin_ws/src/primitives/observations*

# directories for quick testing scripts that contain useful code snippets
catkin_ws/src/primitives/testing
training/skeleton/testing
training/skeleton/dreamerv2/test

# directory for saving things related to camera calibration
catkin_ws/src/primitives/calibration
catkin_ws/src/aruco_ros
catkin_ws/src/realsense-ros
catkin_ws/src/hand_eye_calibration/result/

# development stuff, testing different catkin packages
catkin_ws/src/relaxed_ik

# old problems for planning evaluation/etc. that are useful but not to be tracked
catkin_ws/src/primitives/old_problems