<!-- <launch>
  <!-- This file makes it easy to include the settings for sensor managers -->

  <!-- Param for kinect config -->
  <rosparam command="load" file="$(find config)/parameters/moveit/sensors_kinect_pointcloud.yaml" />

  <!-- Params for the octomap monitor -->
  <!--  <param name="octomap_frame" type="string" value="some frame in which the robot moves" /> -->
  <param name="octomap_frame" type="string" value="world" />
  <param name="octomap_resolution" type="double" value="0.05" />
  <param name="max_range" type="double" value="5.0" />
</launch>-->