 <?xml version="1.0" ?>
 <robot name="mustard">
    <link name="base_link">
        <inertial>
            <origin rpy="0 0 0" xyz="-0.01505433, -0.02310938,  0.07504227"/>
            <mass value="0.03"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://config/descriptions/meshes/objects/mustard.stl" scale="1 1 1"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://config/descriptions/meshes/objects/mustard.stl" scale="1 1 1"/>
            </geometry>
        </collision>
        <contact>
            <lateral_friction value="0.3"/>
            <!-- <rolling_friction value="1" /> -->
            <!-- <lateral_friction value=0.3"/> for pulling -->    
            <!-- <lateral_friction value="0.95"/> for pushing?    -->
        </contact>
    </link>
</robot>